backcall==0.2.0
beautifulsoup4==4.11.1
fastjsonschema==2.16.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.16.0
jupyter==1.0.0
matplotlib==3.6.0
matplotlib-inline==0.1.6
numba==0.56.2
numpy==1.22.4
pandas==1.4.4
pmdarima==2.0.1
poetry==1.2.0
poetry-core==1.1.0
poetry-plugin-export==1.0.6
prometheus-client==0.14.1
prompt-toolkit==3.0.31
prophet==1.1.1
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.13.0
pylev==1.4.0
pyparsing==3.0.9
pytz==2022.2.1
pyzmq==24.0.1
qtconsole==5.3.2
QtPy==2.2.0
requests==2.28.1
scikit-hts==0.5.12
scikit-learn==1.1.2
scipy==1.8.1
seaborn==0.12.0
six==1.16.0
sktime==0.13.2
SQLAlchemy==1.1.8
statsmodels==0.13.2
testpath==0.3
threadpoolctl==3.1.0
urllib3==1.26.12
virtualenv==20.16.5
wcwidth==0.1.7
webencodings==0.5
widgetsnbextension==4.0.3
wrapt==1.14.1
xattr==0.9.9
fastai
keras
torch
tsai
